<a href="https://colab.research.google.com/github/JoseAaronE/FisicaComputacional/blob/master/Actividad3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad 3

Esquivel Ovilla José Aarón

In [11]:
import numpy as np
import pandas as pd

In [12]:
#tenemos que importar el archivo que queremos en formato 
#lo guardamos en una variable llamada url
url= "https://raw.githubusercontent.com/JoseAaronE/FisicaComputacional/master/Actividad1/Estacion3016datos.txt"
#cambiamos el nombre a las columnas 
type_data = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']
# sep='\s+' da espacio en los datos 
#skiprows=19 empezar en la linea 19
#skipfooter=1  decimos que en el ultimo no hay encabezado 
#header=None 
# engine='python' procesar datos usando python
df = pd.read_csv(url, names=type_data,encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

# Imprime el encabezado y final del dataframe

In [15]:

#imprimimos las priemras cinco listas 
print(df.head())
#imprimimos las ultimas cinco listas 
print(df.tail())

        Fecha Precip  Evap Tmax  Tmin
0  10/07/1941      0  Nulo   41  Nulo
1  11/07/1941      0  Nulo   42    24
2  12/07/1941      0  Nulo   41    31
3  13/07/1941      0  Nulo   39    28
4  14/07/1941      0  Nulo   39    27
            Fecha Precip  Evap Tmax Tmin
27161  27/12/2017      0  Nulo   27   10
27162  28/12/2017      0  Nulo   29   11
27163  29/12/2017      0  Nulo   29   11
27164  30/12/2017      0  Nulo   30    9
27165  31/12/2017      0  Nulo   32   10

# ¿Qué dimensiones tiene tu dataframe?
 usamos:  df.shape para obtener las dimensiones

In [17]:
#comando para poder ver las dimensiones del archivo (renglones,columnas)
df.shape

(27166, 5)

# ¿Cómo es el contenido de tu dataframe?
Usamos: df.info()

In [18]:
#usamos este comando para poder visualizar la información de nuestro dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27166 entries, 0 to 27165
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   27166 non-null  object
 1   Precip  27166 non-null  object
 2   Evap    27166 non-null  object
 3   Tmax    27166 non-null  object
 4   Tmin    27166 non-null  object
dtypes: object(5)
memory usage: 1.0+ MB

# Reemplazar un caracter 

Los datos originales incluyen la cadena de caracteres 'Nulo', indicando que no hubo datos para esa variable, ese día. Tenemos que reemplazar la palabra nulo con la función: df.replace()

In [19]:
#Primero hacemos una copia del archivo
df_work0 = df.copy()
#imprimimos la copia del archivo
df_work0.head()

        Fecha Precip  Evap Tmax  Tmin
0  10/07/1941      0  Nulo   41  Nulo
1  11/07/1941      0  Nulo   42    24
2  12/07/1941      0  Nulo   41    31
3  13/07/1941      0  Nulo   39    28
4  14/07/1941      0  Nulo   39    27

In [20]:
#vamos a reemplazar los textos donde dice nulo
str_Nulo= "Nulo"
#guardamos el nuevo archivo reemplazado en una variable
df_work1 = df_work0.replace(to_replace=str_Nulo, value='', regex=True)
df_work1.head()

        Fecha Precip Evap Tmax Tmin
0  10/07/1941      0        41
1  11/07/1941      0        42   24
2  12/07/1941      0        41   31
3  13/07/1941      0        39   28
4  14/07/1941      0        39   27

convertir a número flotante o numérico los datos de Precipitación, Evaporación, Temperatura Máxima y Temperatura mínima utilizando la función
 df.to_numeric()

In [21]:
#primero imprimimos las información actualizada
df_work1.info()
print(df_work1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27166 entries, 0 to 27165
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   27166 non-null  object
 1   Precip  27166 non-null  object
 2   Evap    27166 non-null  object
 3   Tmax    27166 non-null  object
 4   Tmin    27166 non-null  object
dtypes: object(5)
memory usage: 1.0+ MB
        Fecha Precip Evap Tmax Tmin
0  10/07/1941      0        41
1  11/07/1941      0        42   24
2  12/07/1941      0        41   31
3  13/07/1941      0        39   28
4  14/07/1941      0        39   27

convertir a número flotante o numérico

In [22]:
#convertimos los valores de nuestras variables a numeros flotantes
cols_list = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in cols_list:
  df_work1[cols] = pd.to_numeric(df_work1[cols], errors='coerce')

df_work1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27166 entries, 0 to 27165
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   27166 non-null  object
 1   Precip  27163 non-null  float64
 2   Evap    0 non-null      float64
 3   Tmax    26481 non-null  float64
 4   Tmin    26480 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.0+ MB

# contrastamos la información

In [31]:
df_work1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27166 entries, 0 to 27165
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   27166 non-null  object
 1   Precip  27163 non-null  float64
 2   Evap    0 non-null      float64
 3   Tmax    26481 non-null  float64
 4   Tmin    26480 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.0+ MB

# Sumamos los valores nulos

In [23]:
df_work1.isnull().sum()

Fecha         0
Precip        3
Evap      27166
Tmax        685
Tmin        686
dtype: int64

# Imprimiendo el nuevo encabezado

In [24]:
#comando para imprimir el encabezado 
print(df_work1.head())
#comando para imprimir el último encabezado
print(df_work1.tail())

        Fecha  Precip  Evap  Tmax  Tmin
0  10/07/1941     0.0   NaN  41.0   NaN
1  11/07/1941     0.0   NaN  42.0  24.0
2  12/07/1941     0.0   NaN  41.0  31.0
3  13/07/1941     0.0   NaN  39.0  28.0
4  14/07/1941     0.0   NaN  39.0  27.0
            Fecha  Precip  Evap  Tmax  Tmin
27161  27/12/2017     0.0   NaN  27.0  10.0
27162  28/12/2017     0.0   NaN  29.0  11.0
27163  29/12/2017     0.0   NaN  29.0  11.0
27164  30/12/2017     0.0   NaN  30.0   9.0
27165  31/12/2017     0.0   NaN  32.0  10.0

•	Realiza una estadística básica de las variables numéricas de tu dataframe usando la función: df.describe() y haz una interpretación de los resultados, para ver si tienen sentido físico (por ej. valores negativos de precipitación, valores extremos fuera de lo normal, etc)

In [25]:
#comando para hacer el análisis estadístico con un redondeo de dos cifras significativas 
df_work1.describe().round(2)

         Precip  Evap      Tmax      Tmin
count  27163.00   0.0  26481.00  26480.00
mean       0.37   NaN     31.41     15.51
std        4.79   NaN      6.20      6.25
min        0.00   NaN     10.00     -4.00
25%        0.00   NaN     27.00     10.50
50%        0.00   NaN     31.00     15.00
75%        0.00   NaN     36.50     20.50
max      260.00   NaN     49.00     31.50

# Comienza haciendo una copia del dataframe del paso anterior

In [26]:
#creamos una segunda copia del archivo y lo llamamos work2
df_work2=df_work1.copy()
#probabos si es correcto el nuevo data frame
df_work2["Fecha"].head()

0    10/07/1941
1    11/07/1941
2    12/07/1941
3    13/07/1941
4    14/07/1941
Name: Fecha, dtype: object

Utiliza la función de Pandas pd.to_datetime(), para convertir el objeto Fecha a formato de fecha que comprende Python.

In [27]:
df_work2['Fecha']=pd.to_datetime(df_work2['Fecha'], dayfirst=True).copy()
print(df_work1.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  10/07/1941     0.0   NaN  41.0   NaN
1  11/07/1941     0.0   NaN  42.0  24.0
2  12/07/1941     0.0   NaN  41.0  31.0
3  13/07/1941     0.0   NaN  39.0  28.0
4  14/07/1941     0.0   NaN  39.0  27.0

usar la función  df.dtypes para verificar que todas las variables son del tipo deseado.

In [28]:
#checamos que las variables sean del tipo deseado
df_work2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
dtype: object

Con las funciones de Pandas df['Fecha'].dt.year y df['Fecha'].dt.month, crea dos columnas nuevas adicionales df['Año'] y df['Mes'].

In [29]:
#con estos comando creamos dos columnas nuevas al documento 
df_work2['Año'] = df_work2['Fecha'].dt.year
df_work2['Mes'] = df_work2['Fecha'].dt.month
#checamos que se crearan de forma correcta 
print(df_work2.head())
print(df_work2.tail())

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1941-07-10     0.0   NaN  41.0   NaN  1941    7
1 1941-07-11     0.0   NaN  42.0  24.0  1941    7
2 1941-07-12     0.0   NaN  41.0  31.0  1941    7
3 1941-07-13     0.0   NaN  39.0  28.0  1941    7
4 1941-07-14     0.0   NaN  39.0  27.0  1941    7
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
27161 2017-12-27     0.0   NaN  27.0  10.0  2017   12
27162 2017-12-28     0.0   NaN  29.0  11.0  2017   12
27163 2017-12-29     0.0   NaN  29.0  11.0  2017   12
27164 2017-12-30     0.0   NaN  30.0   9.0  2017   12
27165 2017-12-31     0.0   NaN  32.0  10.0  2017   12

In [30]:
#checamos que todas las variables sean del tipo deseado
df_work2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27166 entries, 0 to 27165
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   27166 non-null  datetime64[ns]
 1   Precip  27163 non-null  float64
 2   Evap    0 non-null      float64
 3   Tmax    26481 non-null  float64
 4   Tmin    26480 non-null  float64
 5   Año     27166 non-null  int64
 6   Mes     27166 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 1.5 MB